apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bus-senegal-dev

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

replicas:
  - name: bus-senegal-backend
    count: 1
  - name: bus-senegal-frontend
    count: 1

patches:
  - target:
      kind: Deployment
      name: bus-senegal-backend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
  
  - target:
      kind: Deployment
      name: bus-senegal-frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - APP_ENV=development
      - LOG_LEVEL=DEBUG

